{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/cssgallery.css' %}">
        <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
        <link rel="stylesheet" href="{% static 'css/demo.css' %}">
</head>
<body>
    <header >
    
        <nav class="navbar">
    
    
            <ul>
    
    
                <li><a href="#header">Contact</a></li>
                <li><a href="{% url 'index' %}">Gallery</a></li>
                <li><a href="#services">Service</a></li>
                <li><a href="{% url 'gallery' %}">Home</a></li>
    
                <div style="WIDTH:70PX; margin-right: 680px;">
    
                    <img src="{% static 'images/logo.jpg' %}" alt="logo-image">
                </div>
    
    
            </ul>
        </nav>
            

    </header>


    <div class="gallery" id="gallery">
        <div>
            <h1 style="margin-left: 800px; color:black;">Gallery</h1>
        </div>
    
    
        <ul class="controls">
            <li class="buttons active">
                <a href="{% url 'index' %}" style="text-decoration:none;">All</a>
            </li>
            {% for icategory in icategories %}
            <li class="buttons">
                <a href="{% url 'index' %}?category={{icategory.name}}" style="text-decoration:none;">{{icategory.name}}</a>
            </li>
            {% endfor %}
        </ul>
    
        <div class="image-container">
            {% for photo in photos %}
            <a href="{{photo.image.url}}" class="image">
                <img src="{{photo.image.url}}" alt="">
            </a>
            {% endfor %}
    
        </div>
    
    </div>
</body>
</html>