{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
</head>
<body>
    
    <header>
        <nav class="navbar">
        
        
            <ul>
        
        
                <li><a href="{% url 'aboute' %}">Contact</a></li>
                <li><a href="{% url 'index' %}">Gallery</a></li>
                <li><a href="#services">Service</a></li>
                <li><a href="{% url 'gallery' %}">Home</a></li>
        
                <div style="WIDTH:70PX; margin-right: 680px;">
        
                    <img src="{% static 'images/logo.jpg' %}" alt="logo-image">
                </div>
        
        
            </ul>
        </nav>
    </header>
</body>
</html>